@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="contact" class="contact-section pt-2 pt-md-5">
    <div class="container ">
        <div class="row mb-5">
            <div class="col">
                <nav aria-label="breadcrumb" class="animated-breadcrumb d-flex align-items-center mb-3 pt-4 pt-md-2">
                    <ol class="breadcrumb bg-transparent px-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Home")" style="color: var(--primary-color);">Home</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16" style="    fill: var(--primary-color);">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                            </svg>
                            <a href="#" style="color: var(--primary-color);">
                                Contact US
                            </a>
                            <!-- Animated scissors -->
                            <svg class="scissors-icon ms-2" viewBox="0 0 64 64" width="32" height="32" fill="none" stroke="currentColor" stroke-width="3">
                                <g>
                                    <line x1="10" y1="10" x2="30" y2="30" />
                                    <line class="blade-moving" x1="10" y1="30" x2="30" y2="10" />
                                </g>
                                <circle cx="10" cy="10" r="3" fill="currentColor" />
                                <circle cx="10" cy="30" r="3" fill="currentColor" />
                            </svg>
                        </li>

                    </ol>
                </nav>
                <h2 class="section-title" data-aos="fade-down " style="color: whitesmoke;">Get in Touch</h2>
                <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
                    We're here to craft your perfect look. Reach out via any method below.
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Email -->
            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="contact-box">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <h5>Email</h5>
                    <p><a href="mailto:info@newlook-business.com">info@newlook-business.com</a></p>
                </div>
            </div>

            <!-- Phone -->
            <div class="col-md-6 col-lg-3 mb-4" data-aos="flip-left" data-aos-delay="300">
                <div class="contact-box">
                    <div class="icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <h5>Phone</h5>
                    <p><a href="https://wa.me/971586807722" target="_blank">+971 586 807 722</a></p>
                </div>
            </div>

            <!-- Address -->
            <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-down" data-aos-delay="400">
                <div class="contact-box">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h5>Address</h5>
                    <p style="color: whitesmoke;"><a href="https://maps.app.goo.gl/zeMd7qRSQRQzd32TA" target="_blank">Umm Al sheif -SKB Plaza properties Office No: 104 - Dubai - United Arab Emirates</a></p>

                </div>
            </div>

            <!-- Social Media -->
            <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="500">
                <div class="contact-box">
                    <div class="icon">
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <h5>Follow Us</h5>
                    <div class="social-links">
                        <!-- <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a> -->
                        <a href="https://www.instagram.com/newlookbusiness1/" target="_blank" class="me-2"><i class="fab fa-instagram"></i></a>
                        @Html.Raw("<a href='https://www.tiktok.com/@newlook.business' target='_blank'><i class='fab fa-tiktok'></i></a>")

                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="row mt-5">
            <div class="col-lg-8">
                <h3 class="mb-4 " data-aos="fade-up">Send Us a Message</h3>
                <form action="#" method="post" class="contact-form" data-aos="fade-up" data-aos-delay="600">
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="100">
                        <input type="text" class="form-control" name="cf-name" placeholder="Your Name" required>
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="email" class="form-control" name="cf-email" placeholder="Your Email" required>
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="300">
                        <textarea class="form-control" rows="5" name="cf-message" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="text-center" data-aos="fade-up" data-aos-delay="400">
                        <button type="submit" class="btn btn-gold">Send Message</button>
                    </div>

                </form>
                <br><br>


                <div class="row mt-5">
                    <div class="col-lg-10">
                        <h3 class="mb-4" data-aos="fade-up">Find Us on the Map</h3>
                        <div data-aos="zoom-in" data-aos-delay="200">
                            <div class="map-container">

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.310664060015!2d55.2032153!3d25.125185800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b86b3f70de5%3A0x8937aa5b54d1fd7d!2sNew%20Look%20Business!5e0!3m2!1sen!2s!4v1746466624200!5m2!1sen!2s"
                                        width="100%"
                                        height="350"
                                        style="border:0; filter: grayscale(50%) brightness(90%) contrast(140%); border-radius: 20px;"
                                        allowfullscreen=""
                                        loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
