<!DOCTYPE html>
<html>
<head>

    <title>NEWLOOK BUSINESS</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-gymso-style.css">

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="Home"><img src="~/images/4.png" alt="" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#class" class="nav-link smoothScroll">Our Team</a>
                    </li>

                    <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact Us</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <!-- <li><a href="https://fb.com/tooplate" class="fa fa-facebook"></a></li> -->
                    <li><a href="#" class="fa-brands fa-tiktok"></a></li>
                    <li><a href="#" class="fa-brands fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>
        @RenderBody()
        <hr />
        <footer class="site-footer">
            <div class="container">
                <div class="row ">

                    <div class="col-lg-4 col-md-5">
                        <p class="copyright-text">
                            Copyright &copy; 2025 NewLook Business Co.

                            <!-- <br>Design: <a href="https://www.tooplate.com">Tooplate</a></p> -->
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                            <i class="fa fa-envelope-o mr-1"></i>
                            <!-- <a href="#">info@newlook-business.com</a> -->
                            <a href="mailto:info@newlook-business.com">info@newlook-business.com</a>

                        </p>

                        <!-- <p><i class="fa fa-phone mr-1"></i> +971 586 807 722</p> -->
                        <p><i class="fa fa-phone mr-1"></i> <a href="https://wa.me/971586807722" target="_blank">+971 586 807 722</a></p>

                    </div>

                </div>
            </div>
        </footer>

    @RenderSection("scripts", required: false)
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        window.addEventListener('load', function() {
            document.querySelector('.navbar-brand img').classList.add('loaded');
        });
    </script>
</body>
</html>
